body{
    font-family: sans-serif;
    padding: 0 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > button{
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    margin: 0 20px;
    background-color: bisque;
    cursor: pointer;
}

.header > button:hover {
    background-color: rgb(217, 135, 13);
}

.employees{
    display: flex;
}

.employees > div{
    border: 1px solid black;
    height: 450px;
    overflow-y: scroll;
}

.employees__names{
    width: 30%;
}

.employees__single{
    width: 70%;
}
.employees__names,
.employees__single{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.employees__names--title,
.employees__single--title{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.employees__names--list{
    display: flex;
    flex-direction: column;
}

.employees__names--item{
    cursor: pointer;
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: bisque;
}

.employees__names--item:hover,.selected{
    background-color: darkgoldenrod;
}

.addEmployee{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.addEmployee__create{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 50px gray;
    background-color: white;
    padding: 20px;
}

.addEmployee__create > div{
    display: grid;
    grid-template-columns: 48.1% 48.1%;
    column-gap: 15px;
}

.addEmployee__create input{
    padding: 5px 10px;
    border: 1px solid rgb(246, 240, 229);
    border-radius: 5px;
}

.addEmployee__create--submit{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.addEmployee__create--submit:hover{
    background-color: darkgray;
}

